@use './variables' as *;

.button-wrap {
    display: flex;
}

.button-wrap--center {
    justify-content: center;
}

.button-wrap--m-center {
    justify-content: center;
}

.s-button-launch-wrapper {
    display: flex;
    align-items: center;
    
    .qr-button {
        display: none;
    }
}

.s-button-launch-wrapper-reverse {
    display: flex;
    align-items: center;

    .s-button {
        display: none;
    }
}

.icon-hover {
    transition: fill 0.3s;   
}

button {
    display: block;
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
}

.s-button {
    display: flex;
    align-items: flex-end;
    min-width: 306px;
    background-color: $color-black;
    border-radius: 7px;
    height: 56px;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 14px;
    text-decoration: none;
    position: relative;
    transition: background-color 0.3s, color 0.3s, opacity 0.3s;
    color: $color-white;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -1%;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: 1;

    &:after {
        content: '';
        position: absolute;
        top: 14px;
        right: 14px;
        width: 12px;
        height: 12px;
        background: url('/svg/button-arrow.svg') no-repeat center center;
    }

    &:hover {
        background-color: $color-black90;
        animation: buttonHover 0.2s linear forwards;
    }

    &:focus {
        
    }

    &:disabled {
        opacity: 0.5;
    }

    &.s-button--full {
        width: 100%;
    }

    &.s-button--white {
        background: $color-white;
        color: $color-black;

        &:after {
            background: url('/svg/button-arrow-black.svg') no-repeat center center;
        }

        &:hover {
            background-color: #F4EFE8;
        }
    }

    &.s-button--white-m-black-d {
        background: $color-white;
        color: $color-black;
        &:after {
            background: url('/svg/button-arrow-black.svg') no-repeat center center;
        }
    }
}

.menu-section-button {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-black-transparent;
    transition: background-color 0.3s;

    svg {
        width: 24px;
        height: 24px;
    }
}

.s-button-close {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(140, 140, 140, 0.2);
    backdrop-filter: blur(7px);

    svg {
        display: block;
        width: 11px;
        height: 11px;
    }
}

.qr-button {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: $color-white;
    flex-shrink: 0;
    border: 1px solid $color-white;
    position: relative;
    transition: border-color 0.3s, background-color 0.3s;

    &:hover {
        border-color: $color-black;
        background-color: $color-black;

        .hover-path {
            fill: $color-white;
        }
    }

    svg {
        display: block;
        width: 33px;
        height: 33px;
    }

    &.qr-button--small {
        width: 40px;
        height: 40px;

        > svg {
            width: 23px;
            height: 23px;
        }
    }

    &.qr-button--white {
        border-color: $color-white;
        background-color: $color-black;
    }

    &.qr-button--white-transparent {
        border-color: $color-white;
        background-color: transparent;
        
        .hover-path {
            fill: $color-white;
        }
    }

    &.qr-button--black-transparent {
        border-color: $color-black;
        background-color: transparent;
        
        .hover-path {
            fill: $color-black;
        }
    }
}

@keyframes buttonHover {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

@media only screen and (min-width: $break-point-small) {

    .s-button {
        &.s-button--small {
            height: 54px;
            font-size: 14px;
            min-width: 238px;

            &:hover {
                background-color: $color-black90;
                animation: buttonHover 0.2s linear forwards;
            }
        }

        &.s-button--white-m-black-d {
            background: $color-black;
            color: $color-white;
            &:after {
                background: url('/svg/button-arrow.svg') no-repeat center center;
            }
        }
    }

    .button-wrap--m-center {
        justify-content: flex-start;
    }

    .s-button-launch-wrapper {
        column-gap: 8px;
        .qr-button {
            display: flex;
        }
    }

    .s-button-launch-wrapper-reverse {
        column-gap: 8px;

        .s-button {
            display: flex;
        }
    }
    
    

    .qr-button {
        &.qr-button--small {
            width: 54px;
            height: 54px;

            > svg {
                width: 30px;
                height: 30px;
            }
        }

        &:hover {
            .qr-button-hover-wrapper {
                opacity: 1;
                transform: scale(1);
                pointer-events: auto;
            }        
        }
    }

    .qr-button-hover-wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 20;
        padding-bottom: 72px;
        opacity: 0;
        transform: scale(0.9);
        pointer-events: none;
        transition: opacity 0.3s ease, transform 0.3s ease;

        > div {
            width: 230px;
            height: 154px;
            padding: 20px;
            border-radius: 20px;
            display: flex;
            column-gap: 20px;
            background: $color-white;
        }

        &.qr-button-hover-wrapper--bottom {
            bottom: auto;
            left: auto;
            top: 0;
            right: 0;
            padding-bottom: 0;
            padding-top: 72px;
        }

        &.qr-button-hover-wrapper--top-left {
            left: auto;
            right: 0; 
        }
    }

    .qr-code {
        width: 114px;
        height: 114px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .qr-code-social {
        div {
            flex-direction: column;
            row-gap: 12px;
        }
    }
}

@media only screen and (min-width: $break-point-normal) {

    .s-button {
        font-size: 16px;
    }    
}

@media only screen and (min-width: $break-point-full-style) {
    .s-button {
        height: 62px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 16px;
        font-size: 18px; 
        letter-spacing: 0;
    }

    .qr-button {
        width: 62px;
        height: 62px;
        
        svg {
            width: 35px;
            height: 35px;
        }
    }

    .qr-button-hover-wrapper {
        padding-bottom: 72px;

        > div {
            width: 264px;
            height: 180px;
            padding: 24px;
            border-radius: 24px;
            column-gap: 24px;

            .svg {
                width: 60px;
                height: 60px;
            }
        }

        &.qr-button-hover-wrapper--bottom {
            padding-top: 72px;
        }
    }

    .qr-code {
        width: 132px;
        height: 132px;
    }
}